:root {
    --theme-background: white;
    --theme-color: black;
    --theme-border: #dfc9ec;
    --theme-reverse-background: black;
    --theme-grey-background: #f2f2f2;
    --theme-header-color: #762c85;
    --theme-popup-backdrop: rgba(0, 0, 0, 0.5);
    --theme-box-shadow: 0 1px 5px rgb(158 164 186 / 20%);
    --theme-card-box-shadow: 0 1px 5px rgb(158 164 186 / 40%);
  }
  