@import "./mode/default.scss";
@import "./mode/dark.scss";

$regularFont: "Graphik-Regular-Web";
$lightFont: "Graphik-Light-Web";
$mediumFont: "Graphik-Medium-Web";
$semiBoldFont: "Graphik-Semibold-Web";
$boldFont: "Graphik-Bold-Web";

$spacer-xs: 4px;
$spacer-s: 8px;
$spacer-m: 12px;
$spacer-l: 17px;
$spacer-xl: 28px;